.content-container{
    text-align: center;
    margin-top: 2%;
    .amazing{
        color: #ddefec;        
        text-shadow: 0 0 0px #67c8c8, 0 0 31px #67c8c8;    
        font-size: 8vw;
        font-weight: 400;       
    }
    .score-container{
        img{
            width: 30vw;
            margin: auto;
            margin-bottom: 4%;
            border-radius: 70px;
            border: 7px solid #bae4e6;
            box-shadow: 0 0 0px #67c8c8, 0 0 5px #67c8c8;
        }
        #top-title{
            color: #e1e190;
            font-size: 3vw;
            margin-bottom: 4%;
        }
        #result{
            font-size: 5vw;
        }    
        display: grid;
        text-align: center;
        justify-content: center;
    }
    .name-section{        
        background-color: black !important;
        border-radius: 25px;
        border-top: 7px solid #464141;
        border-right: 7px solid #464141;
        border-left: 7px solid #464141;
        width: 50%;
        margin-left: 23%;
        margin-right: 23%;
        position: absolute;
        bottom: -30px;
        height: 35%;

        ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
            background-color: white !important;
            border-radius: 8px !important;
            border: 2px solid white !important;
        }
        label{
            margin: 5%;
            display: block;
            font-size: 2vw;            
            color: #67c8c8;
        }
        .name-input{
            margin: auto;
            display: flex;            
            width: 70%;
            mat-form-field{
                &::ng-deep .mat-form-field-wrapper {
                    padding-bottom: 0;
                }
                width: 70%;
                input{            
                    display: block;
                    margin: auto;
                    color: black;
                    font-weight: bold;
                    font-size: 1.5vw;
                    padding-left: 8px;
                }
               
            }          
        }
        
        button{
            background-color: #464141;
            color: black;
            width: 30%;
            font-weight: bold;
            font-size: 1.5vw;
            border-radius: 13px;
            border: 3px solid white;
            margin: 1%;
            padding: 0;
        }
        button.valid{
            background-color: #3f7e7e;
            color:white;
            border: none;
        }         
    }

    // ::ng-deep .mat-form-field-wrapper {
    //     padding-bottom: 0;
    // }
}
.error{
    text-align: left;
    margin-left: 15%;
    font-weight: 500;
    font-size: 1.5vw;
    color: rgb(149, 88, 88);
}