.timer-container {
    display: inline-block;
    .timer-text{
        vertical-align: super;
        &.time {
            margin-right: 9px;
        }

        &.seconds {
            margin-left: -9px;
        }
    }
}