<span class="timer-container">
    <span class="timer-text time">Time:</span>
    <span class="timer-image">
        <img *ngIf="timeLeft > 0; else warningTimer"
            src="https://github.com/adibi0481/quizGame/blob/master/src/assets/hourglass.png?raw=true">
        <ng-template #warningTimer>
            <img src="https://github.com/adibi0481/quizGame/blob/master/src/assets/redHourglass.png?raw=true">
        </ng-template>
    </span>
    <span [ngStyle]="{'color': timeLeft > 0  ?  '#61B3BB' :'#DD1010'}" class="timer-text seconds">{{timeLeft}} SECONDS</span>
</span>