<mat-toolbar class="toolbar-design">
    <div class="live-container tab">
        <label>LIVES:
            <img src="/assets/heart.png" *ngFor="let i of [].constructor(lives)">
            <img src="/assets/emptyHeart.png" *ngFor="let i of [].constructor(3-lives)">            
        </label>
    </div>
    <div class="question-container tab">
        <label>QUESTION: {{questionNumber}}/10</label>
    </div>
    <div class="score-container tab">
        <label>POINTS: <input disabled matInput value="{{score}}"></label>
    </div>
</mat-toolbar>