<div style="display: -ms-inline-grid;">
    <div class="question-header">
        <span class="question-text">
            <span class="question-title question-number">
                {{'Q' + questionNumber + ': '}}
            </span>
            <span class="question-title">{{question.question}}</span>
        </span>
        <app-timer #timer class="timer"></app-timer>

    </div>

    <div class="grid-container">
        <button (click)="onAnswerClick(option)" [disabled]="isFinished" mat-button *ngFor="let option of answers"
            class="grid-item" [ngClass]="{'correct-answer': isCorrect(option),
                'incorrect-answer': isIncorrect(option),
                'selected': !isFinished && option === selectedAnswer}">
            <img class="answer-icon" *ngIf="isCorrect(option)"
                src="https://github.com/adibi0481/quizGame/blob/master/src/assets/correct.png?raw=true">
            <img class="answer-icon" *ngIf="isIncorrect(option)"
                src="https://github.com/adibi0481/quizGame/blob/master/src/assets/incorrect.png?raw=true">
            {{option}}
        </button>
    </div>
</div>